<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram-Clone</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link
      rel="icon"
      href="https://pngimg.com/uploads/instagram/instagram_PNG3.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
  </head>
  <body>
    <main class="container">
      <nav class="navbar">
        <h3>Instagram-Clone</h3>

        <div class="nav_main">
          <i class="fa-solid fa-house"></i>
          <a href="./home"><button>Home</button></a>
        </div>
        <div class="nav_main">
          <i class="fa fa-magnifying-glass"></i>
          <a href="./search"><button>Search</button></a>
        </div>
        <div class="nav_main">
          <i class="fa-regular fa-compass"></i>
          <a href="./explore"><button>Explore</button></a>
        </div>
        <div class="nav_main">
          <i class="fa-brands fa-facebook-messenger"></i>
          <a href="./message"><button>Messenges</button></a>
        </div>
        <div class="nav_main">
          <i class="fa-regular fa-heart"></i>
          <a href="./notification"><button>Notifications</button></a>
        </div>
        <div class="nav_main">
          <i class="fa-solid fa-square-plus"></i>
          <a href="./create-post"><button>Create</button></a>
        </div>
        <div class="nav_main">
          <img src="<%= user.profilePicture %>" alt="Profile" />
          <a href="./profile"><button>Profile</button></a>
        </div>
      </nav>

      <article class="mainbody">
        <header>
          <div class="story">
            <img src="img/download.png" alt="IG Frame" class="frame" />
            <div class="imgframe">
              <img
                src="https://th.bing.com/th/id/OIP.hHcGP5F_dqh8GTomxZ1powHaEo?rs=1&pid=ImgDetMain"
                alt="user image"
              />
            </div>
            <div class="storydetails">
              <p class="username">Moana</p>
            </div>
          </div>
          <div class="story">
            <img src="img/download.png" alt="IG Frame" class="frame" />
            <div class="imgframe">
              <img
                src="https://th.bing.com/th/id/R.d1bbe450a39b0d8fc13aa8b9308342d9?rik=fjsWyqdkzuwaGw&riu=http%3a%2f%2fclipart-library.com%2fimages%2fkTKo6RkBc.gif&ehk=3VdESGMb2raNdZKb3iDJgFBPE9RGRqJhrmUszXTLCGI%3d&risl=&pid=ImgRaw&r=0"
                alt="user image"
              />
            </div>
            <div class="storydetails">
              <p class="username">kick_star</p>
            </div>
          </div>
          <div class="story">
            <img src="img/download.png" alt="IG Frame" class="frame" />
            <div class="imgframe">
              <img
                src="https://www.dvd-trailers.gr/images/categories/animation.jpg"
                alt="user image"
              />
            </div>
            <div class="storydetails">
              <p class="username">narson22</p>
            </div>
          </div>
          <div class="story">
            <img src="img/download.png" alt="IG Frame" class="frame" />
            <div class="imgframe">
              <img
                src="https://th.bing.com/th?id=OIF.i9eWlQ5pJt%2fGP6C2UF4gkA&rs=1&pid=ImgDetMain"
                alt="user image"
              />
            </div>
            <div class="storydetails">
              <p class="username">Spirit-Sword</p>
            </div>
          </div>
        </header>

        <section>
          <div class="update">
            <div class="update_feed">
              <div class="usercard">
                <div class="imgwrapper">
                  <img src="img/TBH_Story.jpg" alt="user image" />
                </div>
                <div class="userdetails">
                  <p class="username">thebusinesshacks</p>
                </div>
              </div>
              <div>
                <i class="fa-solid fa-ellipsis"></i>
              </div>
            </div>
            <div class="feed">
              <img src="img/TBH_2.jpg" alt="" />
            </div>
            <div class="comment_feed">
              <div class="stickers">
                <div>
                  <i class="fa-regular fa-heart"></i>
                  <i class="fa fa-comment"></i>
                  <i class="fa-regular fa-paper-plane"></i>
                </div>

                <i class="fa-regular fa-bookmark"></i>
              </div>
              <p>
                Liked by <strong>narson22</strong> and <strong>others</strong>
              </p>
              <div id="quote">
                <p>
                  <strong>thebusinesshacks</strong> What do you think about this
                  one?... <a href="#">more</a>
                </p>
                <br />
                <a href="#">View all 346 comments</a>
              </div>

              <div class="comment">
                <p><strong>moana</strong> That's the goal</p>
                <i class="fa-regular fa-heart"></i>
              </div>

              <h6>5 DAYS AGO</h6>
            </div>
            <form>
              <div>
                <i class="fa-regular fa-face-smile"></i>
                <input type="text" placeholder="Add a comment..." />
              </div>

              <button class="post">Post</button>
            </form>
          </div>

          <div class="update">
            <div class="update_feed">
              <div class="usercard">
                <div class="imgwrapper">
                  <img src="img/TBH_Story.jpg" alt="user image" />
                </div>
                <div class="userdetails">
                  <p class="username">thebusinesshacks</p>
                </div>
              </div>
              <div>
                <i class="fa-solid fa-ellipsis"></i>
              </div>
            </div>
            <div class="feed">
              <img src="img/TBH_1.jpg" alt="" />
            </div>
            <div class="comment_feed">
              <div class="stickers">
                <div>
                  <i class="fa-regular fa-heart"></i>
                  <i class="fa fa-comment"></i>
                  <i class="fa-regular fa-paper-plane"></i>
                </div>

                <i class="fa-regular fa-bookmark"></i>
              </div>
              <p>
                Liked by <strong>_sonia</strong> and <strong>others</strong>
              </p>
              <div id="quote">
                <p>
                  <strong>thebusinesshacks</strong> What do y'all think about
                  this?
                </p>

                <a href="#">View all 1008 comments</a>
              </div>
              <h6>3 DAYS AGO</h6>
            </div>
            <form>
              <div>
                <i class="fa-regular fa-face-smile"></i>
                <input type="text" placeholder="Add a comment..." />
              </div>

              <button class="post">Post</button>
            </form>
          </div>
        </section>
      </article>

      <section class="follow">
        <div class="usercard">
          <div id="user_profile">
            <img src="<%= user.profilePicture %>" alt="user image" />
            <div class="userdetails">
              <p class="username">@<%= user.username %></p>
              <p class="userhandle"><%= user.name %></p>
            </div>
          </div>
        </div>

        <div id="suggestion">
          <h4>Suggestions For You</h4>
          <a href="#">See All</a>
        </div>

        <div class="recommended">
          <div class="recommend_profile">
            <div class="user_new">
              <img
                src="https://th.bing.com/th/id/R.ec9ea4380cfbf0fd0d79332ca4639b39?rik=nOQOxj7MUmMmZg&pid=ImgRaw&r=0"
                alt="user image"
              />
            </div>
            <div class="userdetails">
              <p class="username">bambi</p>
              <p>New to Instagram</p>
            </div>
          </div>
          <a href="#">Follow</a>
        </div>

        <div class="recommended">
          <div class="recommend_profile">
            <div class="user_new">
              <img
                src="https://www.pixelstalk.net/wp-content/uploads/2016/07/Desktop-animation-movies-wallpapers-download.jpg"
                alt="user image"
              />
            </div>
            <div class="userdetails">
              <p class="username">design_animi</p>
              <p>Followed by moana + 2 more</p>
            </div>
          </div>
          <a href="#">Follow</a>
        </div>

        <div class="links">
          <ul>
            <a href="#">About</a>
            <li><a href="#">Help</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">API</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Privacy</a></li>
          </ul>
          <ul>
            <a href="#">Terms</a>
            <li><a href="#">Locations</a></li>
            <li><a href="#">Language</a></li>
          </ul>
        </div>

        <div class="IG_copywright">
          <p>
            <i class="fa fa-copyright"></i> 2024 INSTAGRAM-CLONE BY DEEDEE-CODE
          </p>
        </div>
      </section>
    </main>
  </body>
</html>
